<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
                                 http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd" version="2.0">
    <persistence-unit name="default">
        <class>com.janusze.projektzespolowy.user.ob.UserOB</class>
        <class>com.janusze.projektzespolowy.binaria.ob.BinariaOB</class>
        <class>com.janusze.projektzespolowy.historia.ob.HistoriaOB</class>
        <class>com.janusze.projektzespolowy.priorytet.ob.PriorytetOB</class>
        <class>com.janusze.projektzespolowy.projekt.ob.ProjektOB</class>
        <class>com.janusze.projektzespolowy.zalacznik.ob.ZalacznikOB</class>
        <class>com.janusze.projektzespolowy.zgloszenie.ob.ZgloszenieOB</class>
        <class>com.janusze.projektzespolowy.company.ob.CompanyOB</class>
    </persistence-unit>
</persistence>
