.btn-menu {
    display: inline-block;
    border-radius: 4px;
    background-color: #000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 5px;
    width: auto;
    cursor: pointer;
    margin-left:  -12px;
    text-decoration: none;
    position: fixed;
    top:90%;
    transform: rotate(90deg);

}
.containerDragula:nth-child(2n+1) {
    background-color: rgba(61, 255, 0, 0.5);
}
.containerDragula {
    display: table-cell;
    background-color: rgba(255, 81, 0, 0.5);
    width: 50%;
}

.containerDragula div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.containerDragula div, .gu-mirror {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
}


.btn-menu:link{
    text-decoration: none;
}
.btn-menu:visited{
    color:#FFFFFF;
}
@media (max-width: 767px) {
    .btn-menu{
        display:none;
    }

}